In [17]:
import sqlite3
import pandas as pd

with sqlite3.connect("dataset.db") as conn:
    cpi_df = pd.read_sql("SELECT * FROM cpi;", conn)

In [18]:
cpi_df[
    cpi_df["country_name"].isin(
        ["Japan", "United Kingdom", "United States", "Australia"]
    )
].sort_values(["country_name", "date"])

     countryiso3code    country_name  date       value
102              AUS       Australia  2010  100.000000
101              AUS       Australia  2011  103.303850
100              AUS       Australia  2012  105.124870
99               AUS       Australia  2013  107.700312
98               AUS       Australia  2014  110.379813
97               AUS       Australia  2015  112.044745
96               AUS       Australia  2016  113.475546
95               AUS       Australia  2017  115.686785
94               AUS       Australia  2018  117.898023
93               AUS       Australia  2019  119.797086
92               AUS       Australia  2020  120.811655
91               AUS       Australia  2021  124.271592
90               AUS       Australia  2022  132.466181
89               AUS       Australia  2023  139.880333
1130             JPN           Japan  2010  100.000000
1129             JPN           Japan  2011   99.727544
1128             JPN           Japan  2012   99.683600
1127             JPN           Japan  2013  100.017578
1126             JPN           Japan  2014  102.777290
1125             JPN           Japan  2015  103.594656
1124             JPN           Japan  2016  103.462823
1123             JPN           Japan  2017  103.963790
1122             JPN           Japan  2018  104.992090
1121             JPN           Japan  2019  105.484268
1120             JPN           Japan  2020  105.457901
1119             JPN           Japan  2021  105.211812
1118             JPN           Japan  2022  107.839691
1117             JPN           Japan  2023  111.364036
2403             GBR  United Kingdom  2010  100.000000
2402             GBR  United Kingdom  2011  103.856112
2401             GBR  United Kingdom  2012  106.528574
2400             GBR  United Kingdom  2013  108.969854
2399             GBR  United Kingdom  2014  110.551137
2398             GBR  United Kingdom  2015  110.958017
2397             GBR  United Kingdom  2016  112.076937
2396             GBR  United Kingdom  2017  114.943592
2395             GBR  United Kingdom  2018  117.579064
2394             GBR  United Kingdom  2019  119.622711
2393             GBR  United Kingdom  2020  120.806362
2392             GBR  United Kingdom  2021  123.848715
2391             GBR  United Kingdom  2022  133.660070
2390             GBR  United Kingdom  2023  142.740891
2417             USA   United States  2010  100.000000
2416             USA   United States  2011  103.156842
2415             USA   United States  2012  105.291505
2414             USA   United States  2013  106.833849
2413             USA   United States  2014  108.566932
2412             USA   United States  2015  108.695722
2411             USA   United States  2016  110.067009
2410             USA   United States  2017  112.411557
2409             USA   United States  2018  115.157303
2408             USA   United States  2019  117.244195
2407             USA   United States  2020  118.690502
2406             USA   United States  2021  124.266414
2405             USA   United States  2022  134.211206
2404             USA   United States  2023  139.735794