In [5]:
import os
from pathlib import Path
import pandas as pd

In [6]:
os.environ["DATA_DIR"] = str(Path().cwd().parent.parent / "data")

In [7]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.set_option("display.max_colwidth", None)

In [8]:
def read_data(path: Path) -> pd.DataFrame:
    return pd.read_json(path)

In [33]:
df = read_data(f"{os.getenv('DATA_DIR')}/cost_of_living_cleansed.json")
df

,city,country,1 Pair of Jeans (Levis 501 Or Similar),1 Pair of Men Leather Business Shoes,1 Pair of Nike Running Shoes (Mid-Range),"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Apartment (1 bedroom) Outside of Centre,Apartment (1 bedroom) in City Centre,Apartment (3 bedrooms) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apples (1kg),Average Monthly Net Salary (After Tax),Banana (1kg),"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",Beef Round (1kg) (or Equivalent Back Leg Red Meat),Bottle of Wine (Mid-Range),Buffalo Round (1kg) (or Equivalent Back Leg Red Meat),Cappuccino (regular),Chicken Fillets (1kg),Cigarettes 20 Pack (Marlboro),"Cinema, International Release, 1 Seat",Coke/Pepsi (0.33 liter bottle),Domestic Beer (0.5 liter bottle),Domestic Beer (0.5 liter draught),Eggs (regular) (12),"Fitness Club, Monthly Fee for 1 Adult",Gasoline (1 liter),Imported Beer (0.33 liter bottle),"International Primary School, Yearly for 1 Child","Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",Lettuce (1 head),Loaf of Fresh White Bread (500g),Local Cheese (1kg),McMeal at McDonalds (or Equivalent Combo Meal),"Meal for 2 People, Mid-range Restaurant, Three-course","Meal, Inexpensive Restaurant","Milk (regular), (1 liter)",Mobile Phone Monthly Plan with Calls and 10GB+ Data,Monthly Pass (Regular Price),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",One-way Ticket (Local Transport),Onion (1kg),Oranges (1kg),Potato (1kg),"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",Price per Square Meter to Buy Apartment Outside of Centre,Price per Square Meter to Buy Apartment in City Centre,"Rice (white), (1kg)",Taxi 1hour Waiting (Normal Tariff),Taxi 1km (Normal Tariff),Taxi Start (Normal Tariff),Tennis Court Rent (1 Hour on Weekend),Tomato (1kg),Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),Water (0.33 liter bottle),Water (1.5 liter bottle)
0,Bangkok,Thailand,8265.60,13378.35,15018.38,5251.95,46722.66,89757.22,124434.81,255191.54,469.96,106963.27,245.43,13354.86,1458.60,2678.98,NaN,387.36,425.45,632.91,1116.24,93.25,276.92,357.20,345.30,7859.48,178.66,599.205,2012982.75,2288.74,185.09,215.14,3252.69,892.99,4464.96,446.50,284.32,2027.86,5804.45,6.10,180.81,199.54,348.02,231.14,91483.52,394042.66,842985.17,217.09,892.99,189.76,156.27,1626.74,262.12,4102297.13,6027701.16,42.16,76.78
1,Brisbane,Australia,11007.79,15583.51,15630.08,6750.67,201991.25,248420.76,269747.86,401532.28,478.75,605008.18,424.77,27413.19,2172.68,2011.67,NaN,553.09,1335.72,4475.97,2011.67,417.29,779.35,1207.00,660.86,7874.02,197.17,978.990,1347432.82,8267.97,315.13,355.68,1314.54,1508.75,11818.57,2212.84,250.30,4127.28,17199.79,6.36,50.29,325.88,399.69,357.68,260539.36,777272.02,1149255.16,305.72,5190.11,251.46,362.10,2857.76,579.13,3393280.63,4223503.60,339.71,196.14
2,Bristol,United Kingdom,11981.32,19429.17,14248.06,6245.09,199068.04,263783.36,310119.44,416232.60,491.28,503377.03,239.78,46685.93,1797.20,1570.29,NaN,701.47,1407.32,3030.95,1942.92,349.01,379.28,1068.60,539.72,6800.21,281.71,697.020,3523156.13,6314.48,149.60,251.04,1575.78,1457.19,11657.50,2914.38,219.87,2382.19,16281.64,5.75,388.58,220.41,517.09,307.30,287875.53,948143.49,1039078.64,236.74,3885.83,265.60,874.31,1716.24,454.16,4079639.94,5495540.69,220.88,233.15
3,Hong-Kong,Hong Kong (China),12140.59,21113.37,14357.33,6219.81,242415.16,337641.44,474674.80,701960.46,557.97,594688.82,391.18,36577.91,3481.04,2378.78,NaN,795.24,1487.87,2021.96,1982.32,204.39,329.92,1146.67,548.51,12346.70,473.71,709.275,3374343.97,3464.21,279.11,356.24,4137.30,961.42,9911.58,1288.51,487.69,2758.31,9911.58,3.93,237.88,374.46,565.95,381.74,150500.44,2632681.12,4227646.30,331.92,2259.84,208.14,574.87,1375.73,510.75,4969785.89,5251157.61,165.92,249.21
4,Kuala-Lumpur,Malaysia,8905.18,10841.00,11861.32,5511.51,53864.65,73036.34,88467.10,157323.24,414.14,216796.78,227.44,9577.12,1367.50,2597.05,NaN,438.95,643.19,623.29,692.55,121.75,458.31,623.29,340.82,6964.86,71.39,753.775,1343538.18,3814.51,165.41,142.47,2248.26,692.55,4328.41,692.55,287.16,2060.40,1731.36,4.50,103.88,172.31,413.34,158.16,37605.22,211990.99,458303.36,239.66,571.35,173.14,173.14,1082.10,214.69,4727991.20,5886636.36,76.11,100.65
5,London,United Kingdom,14840.18,21098.86,17477.42,7514.52,309071.99,421727.28,529768.70,851894.37,504.71,675770.76,262.00,49291.73,2296.11,1797.20,NaN,726.54,1361.11,2972.66,2720.08,380.45,402.78,1194.89,668.10,9633.63,291.02,775.975,4042414.58,6248.71,191.18,309.14,1608.65,1554.33,16271.93,3885.83,252.41,2819.82,37459.44,5.08,573.16,244.72,488.99,245.10,349612.88,1612599.56,2838272.40,386.33,5828.75,544.02,971.46,2828.44,582.85,5933743.20,5495540.69,285.12,238.83
6,Manchester,United Kingdom,12143.23,13070.53,13371.73,6036.92,176805.45,225979.75,264338.97,379296.25,435.00,491802.11,268.29,44332.71,2236.82,1554.33,NaN,699.81,1237.87,2647.22,1940.97,382.57,419.52,971.46,571.31,6170.70,281.87,822.420,2525792.08,6007.11,178.91,238.17,1473.66,1554.33,13600.42,2914.38,236.27,2899.43,16067.92,6.00,388.58,276.02,555.36,318.67,249810.55,577938.14,824181.67,316.15,3613.83,446.69,680.02,2197.92,589.67,5740931.11,5495540.69,260.60,207.34
7,Mumbai,India,4801.14,6706.39,9879.17,5078.99,57964.95,101817.42,139068.45,278216.65,359.93,141319.49,123.75,7737.98,NaN,1372.71,865.01,416.33,655.74,640.60,732.11,75.33,338.45,366.06,167.15,4296.91,193.27,657.680,440581.73,1406.86,84.87,84.16,966.66,732.11,3294.51,732.11,124.02,723.80,594.84,8.92,36.61,81.98,188.84,77.44,16015.89,543167.75,1158695.83,129.84,183.03,53.08,53.08,1610.65,99.76,3738985.43,2745423.03,26.20,53.84
8,New-York,United States,10484.70,26057.78,16902.20,7032.99,438424.53,616445.67,817478.44,1316416.11,1093.64,852420.05,365.28,27488.39,3119.12,3085.29,NaN,897.61,2365.74,2622.50,3085.29,491.83,439.53,1388.38,799.95,23279.87,156.86,1131.940,9101605.50,10489.93,497.50,757.04,2617.70,1851.17,20054.39,4627.94,237.98,10314.25,20517.18,6.66,447.37,569.03,933.07,608.76,504284.22,2211782.91,3002753.32,1196.78,6170.58,335.49,771.32,10712.81,938.43,4450344.92,5399257.50,357.52,395.05
9,Shanghai,China,9135.39,14788.97,11976.88,5735.91,80373.48,149804.31,193712.20,416339.93,345.02,266189.64,255.18,8719.20,1721.53,1703.57,NaN,542.45,501.89,532.37,1277.68,78.85,125.08,212.95,252.01,8986.57,177.33,335.935,4763510.34,2461.89,126.40,306.78,2576.89,828.82,5323.65,666.51,346.10,1669.09,5323.65,4.08,85.18,167.00,301.76,142.83,173496.42,1321685.09,2446512.33,171.03,1277.68,63.88,340.71,2921.47,247.32,2781287.07,3189931.68,48.67,86.97
10,Singapore,Singapore,10258.72,17912.72,14866.78,6603.11,301348.48,415298.08,571747.49,831670.55,618.71,647471.24,454.46,23940.54,2981.83,4013.33,NaN,711.47,1498.53,1937.87,1720.00,231.25,629.94,1135.20,499.07,16736.24,331.32,951.645,4166733.01,5296.00,274.98,327.96,2426.99,1146.67,10320.00,1605.33,412.01,2552.19,13760.00,3.41,229.33,340.91,629.56,338.20,172967.91,2195653.61,3264611.26,434.80,2396.53,114.67,527.47,1862.89,427.52,18216692.85,20639999.11,167.47,228.73
11,Taipei,Taiwan,9289.84,17004.14,13624.81,4950.70,75276.85,99695.39,166596.10,241298.60,694.22,267918.85,353.00,12903.34,2721.56,1902.36,NaN,488.78,1471.58,570.71,1521.89,155.40,250.08,392.36,414.64,5827.87,149.28,405.800,2791708.60,3700.56,264.08,284.46,2576.57,784.72,4755.89,951.18,439.46,2594.70,5707.07,2.03,118.90,355.56,434.35,437.16,96009.57,1023971.69,1983768.43,454.82,1426.77,118.90,404.25,2140.15,526.93,3806695.21,5345622.60,104.63,192.86
12,Tokyo,Japan,8069.52,13090.00,9572.95,5660.48,90895.24,170883.50,186679.32,398796.59,760.05,372032.60,357.60,26747.16,3155.26,1200.00,NaN,518.02,1104.78,600.00,1900.00,176.06,314.39,500.00,326.61,10240.00,179.30,569.705,2240238.10,4928.53,205.77,236.69,2218.95,800.00,7000.00,1000.00,230.61,4125.81,8500.00,1.80,204.50,430.25,839.62,416.56,79115.93,766237.50,1533656.20,622.89,3789.47,455.00,500.00,3017.94,749.38,2542500.00,3342000.00,116.21,134.82