In [19]:
import os
from pathlib import Path
import pandas as pd
from tabulate import tabulate

In [20]:
os.environ["DATA_DIR"] = str(Path().cwd().parent.parent / "data")

In [58]:
pd.options.display.max_columns = 1000
pd.options.display.max_rows = 1000
pd.set_option("display.max_colwidth", None)

In [26]:
targets = [
    "United States",
    "United Kingdom",
    "Canada",
    "Australia",
    "Germany",
    "Japan",
    "Netherlands",
]

In [59]:
def read_data(path: Path) -> pd.DataFrame:
    return pd.read_json(path)

In [67]:
def tabulate_data(path: Path):
    output_dir = Path().cwd().parent / "output"
    print(f"tabulating...: {path}")
    df = read_data(path)
    (output_dir / f"{path.stem}.txt").write_text(
        tabulate(df, headers="keys", tablefmt="grid", showindex=False)
    )

for i in Path(os.getenv("DATA_DIR")).rglob("*.json"):
    tabulate_data(i)

tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/cpi.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/unemployment_rate.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/women_in_senior_and_middle_position.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/youth_neet_proportion.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/average_hourly_earnings.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/working_poverty_rate.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/social_protection.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/labour_rights.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/cost_of_living.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/annual_growth_rate_per_worker.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/women_in_managerial_position.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/unemployment_rate_disability.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/informal_employment.json
tabulating...: /Users/yo/Developer/repo/sign-to-migrate/data/happiness.json

In [68]:
read_data(f"{os.getenv('DATA_DIR')}/cost_of_living.json")

,item,country,city,cost
0,"Meal, Inexpensive Restaurant",Japan,Tokyo,1000.00
1,"Meal for 2 People, Mid-range Restaurant, Three-course",Japan,Tokyo,7000.00
2,McMeal at McDonalds (or Equivalent Combo Meal),Japan,Tokyo,800.00
3,Domestic Beer (0.5 liter draught),Japan,Tokyo,500.00
4,Imported Beer (0.33 liter bottle),Japan,Tokyo,700.00
5,Cappuccino (regular),Japan,Tokyo,518.02
6,Coke/Pepsi (0.33 liter bottle),Japan,Tokyo,176.06
7,Water (0.33 liter bottle),Japan,Tokyo,116.21
8,"Milk (regular), (1 liter)",Japan,Tokyo,230.61
9,Loaf of Fresh White Bread (500g),Japan,Tokyo,236.69
10,"Rice (white), (1kg)",Japan,Tokyo,622.89
11,Eggs (regular) (12),Japan,Tokyo,326.61
12,Local Cheese (1kg),Japan,Tokyo,2218.95
13,Chicken Fillets (1kg),Japan,Tokyo,1104.78
14,Beef Round (1kg) (or Equivalent Back Leg Red Meat),Japan,Tokyo,3155.26
15,Apples (1kg),Japan,Tokyo,760.05
16,Banana (1kg),Japan,Tokyo,357.60
17,Oranges (1kg),Japan,Tokyo,839.62
18,Tomato (1kg),Japan,Tokyo,749.38
19,Potato (1kg),Japan,Tokyo,416.56
20,Onion (1kg),Japan,Tokyo,430.25
21,Lettuce (1 head),Japan,Tokyo,205.77
22,Water (1.5 liter bottle),Japan,Tokyo,134.82
23,Bottle of Wine (Mid-Range),Japan,Tokyo,1200.00
24,Domestic Beer (0.5 liter bottle),Japan,Tokyo,314.39
25,Imported Beer (0.33 liter bottle),Japan,Tokyo,439.41
26,Cigarettes 20 Pack (Marlboro),Japan,Tokyo,600.00
27,One-way Ticket (Local Transport),Japan,Tokyo,204.50
28,Monthly Pass (Regular Price),Japan,Tokyo,8500.00
29,Taxi Start (Normal Tariff),Japan,Tokyo,500.00
30,Taxi 1km (Normal Tariff),Japan,Tokyo,455.00
31,Taxi 1hour Waiting (Normal Tariff),Japan,Tokyo,3789.47
32,Gasoline (1 liter),Japan,Tokyo,179.30
33,Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),Japan,Tokyo,3342000.00
34,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),Japan,Tokyo,2542500.00
35,"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",Japan,Tokyo,26747.16
36,Mobile Phone Monthly Plan with Calls and 10GB+ Data,Japan,Tokyo,4125.81
37,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",Japan,Tokyo,4928.53
38,"Fitness Club, Monthly Fee for 1 Adult",Japan,Tokyo,10240.00
39,Tennis Court Rent (1 Hour on Weekend),Japan,Tokyo,3017.94
40,"Cinema, International Release, 1 Seat",Japan,Tokyo,1900.00
41,"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",Japan,Tokyo,79115.93
42,"International Primary School, Yearly for 1 Child",Japan,Tokyo,2240238.10
43,1 Pair of Jeans (Levis 501 Or Similar),Japan,Tokyo,8069.52
44,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Japan,Tokyo,5660.48
45,1 Pair of Nike Running Shoes (Mid-Range),Japan,Tokyo,9572.95
46,1 Pair of Men Leather Business Shoes,Japan,Tokyo,13090.00
47,Apartment (1 bedroom) in City Centre,Japan,Tokyo,170883.50
48,Apartment (1 bedroom) Outside of Centre,Japan,Tokyo,90895.24
49,Apartment (3 bedrooms) in City Centre,Japan,Tokyo,398796.59
50,Apartment (3 bedrooms) Outside of Centre,Japan,Tokyo,186679.32
51,Price per Square Meter to Buy Apartment in City Centre,Japan,Tokyo,1533656.20
52,Price per Square Meter to Buy Apartment Outside of Centre,Japan,Tokyo,766237.50
53,Average Monthly Net Salary (After Tax),Japan,Tokyo,372032.60
54,"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Japan,Tokyo,1.80
55,"Meal, Inexpensive Restaurant",United Kingdom,London,3885.83
56,"Meal for 2 People, Mid-range Restaurant, Three-course",United Kingdom,London,16271.93
57,McMeal at McDonalds (or Equivalent Combo Meal),United Kingdom,London,1554.33
58,Domestic Beer (0.5 liter draught),United Kingdom,London,1194.89
59,Imported Beer (0.33 liter bottle),United Kingdom,London,1068.60
60,Cappuccino (regular),United Kingdom,London,726.54
61,Coke/Pepsi (0.33 liter bottle),United Kingdom,London,380.45
62,Water (0.33 liter bottle),United Kingdom,London,285.12
63,"Milk (regular), (1 liter)",United Kingdom,London,252.41
64,Loaf of Fresh White Bread (500g),United Kingdom,London,309.14
65,"Rice (white), (1kg)",United Kingdom,London,386.33
66,Eggs (regular) (12),United Kingdom,London,668.10
67,Local Cheese (1kg),United Kingdom,London,1608.65
68,Chicken Fillets (1kg),United Kingdom,London,1361.11
69,Beef Round (1kg) (or Equivalent Back Leg Red Meat),United Kingdom,London,2296.11
70,Apples (1kg),United Kingdom,London,504.71
71,Banana (1kg),United Kingdom,London,262.00
72,Oranges (1kg),United Kingdom,London,488.99
73,Tomato (1kg),United Kingdom,London,582.85
74,Potato (1kg),United Kingdom,London,245.10
75,Onion (1kg),United Kingdom,London,244.72
76,Lettuce (1 head),United Kingdom,London,191.18
77,Water (1.5 liter bottle),United Kingdom,London,238.83
78,Bottle of Wine (Mid-Range),United Kingdom,London,1797.20
79,Domestic Beer (0.5 liter bottle),United Kingdom,London,402.78
80,Imported Beer (0.33 liter bottle),United Kingdom,London,483.35
81,Cigarettes 20 Pack (Marlboro),United Kingdom,London,2972.66
82,One-way Ticket (Local Transport),United Kingdom,London,573.16
83,Monthly Pass (Regular Price),United Kingdom,London,37459.44
84,Taxi Start (Normal Tariff),United Kingdom,London,971.46
85,Taxi 1km (Normal Tariff),United Kingdom,London,544.02
86,Taxi 1hour Waiting (Normal Tariff),United Kingdom,London,5828.75
87,Gasoline (1 liter),United Kingdom,London,291.02
88,Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),United Kingdom,London,5495540.69
89,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),United Kingdom,London,5933743.20
90,"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",United Kingdom,London,49291.73
91,Mobile Phone Monthly Plan with Calls and 10GB+ Data,United Kingdom,London,2819.82
92,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",United Kingdom,London,6248.71
93,"Fitness Club, Monthly Fee for 1 Adult",United Kingdom,London,9633.63
94,Tennis Court Rent (1 Hour on Weekend),United Kingdom,London,2828.44
95,"Cinema, International Release, 1 Seat",United Kingdom,London,2720.08
96,"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",United Kingdom,London,349612.88
97,"International Primary School, Yearly for 1 Child",United Kingdom,London,4042414.58
98,1 Pair of Jeans (Levis 501 Or Similar),United Kingdom,London,14840.18
99,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",United Kingdom,London,7514.52
100,1 Pair of Nike Running Shoes (Mid-Range),United Kingdom,London,17477.42
101,1 Pair of Men Leather Business Shoes,United Kingdom,London,21098.86
102,Apartment (1 bedroom) in City Centre,United Kingdom,London,421727.28
103,Apartment (1 bedroom) Outside of Centre,United Kingdom,London,309071.99
104,Apartment (3 bedrooms) in City Centre,United Kingdom,London,851894.37
105,Apartment (3 bedrooms) Outside of Centre,United Kingdom,London,529768.70
106,Price per Square Meter to Buy Apartment in City Centre,United Kingdom,London,2838272.40
107,Price per Square Meter to Buy Apartment Outside of Centre,United Kingdom,London,1612599.56
108,Average Monthly Net Salary (After Tax),United Kingdom,London,675770.76
109,"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",United Kingdom,London,5.08
110,"Meal, Inexpensive Restaurant",United States,New-York,4627.94
111,"Meal for 2 People, Mid-range Restaurant, Three-course",United States,New-York,20054.39
112,McMeal at McDonalds (or Equivalent Combo Meal),United States,New-York,1851.17
113,Domestic Beer (0.5 liter draught),United States,New-York,1388.38
114,Imported Beer (0.33 liter bottle),United States,New-York,1696.91
115,Cappuccino (regular),United States,New-York,897.61
116,Coke/Pepsi (0.33 liter bottle),United States,New-York,491.83
117,Water (0.33 liter bottle),United States,New-York,357.52
118,"Milk (regular), (1 liter)",United States,New-York,237.98
119,Loaf of Fresh White Bread (500g),United States,New-York,757.04
120,"Rice (white), (1kg)",United States,New-York,1196.78
121,Eggs (regular) (12),United States,New-York,799.95
122,Local Cheese (1kg),United States,New-York,2617.70
123,Chicken Fillets (1kg),United States,New-York,2365.74
124,Beef Round (1kg) (or Equivalent Back Leg Red Meat),United States,New-York,3119.12
125,Apples (1kg),United States,New-York,1093.64
126,Banana (1kg),United States,New-York,365.28
127,Oranges (1kg),United States,New-York,933.07
128,Tomato (1kg),United States,New-York,938.43
129,Potato (1kg),United States,New-York,608.76
130,Onion (1kg),United States,New-York,569.03
131,Lettuce (1 head),United States,New-York,497.50
132,Water (1.5 liter bottle),United States,New-York,395.05
133,Bottle of Wine (Mid-Range),United States,New-York,3085.29
134,Domestic Beer (0.5 liter bottle),United States,New-York,439.53
135,Imported Beer (0.33 liter bottle),United States,New-York,566.97
136,Cigarettes 20 Pack (Marlboro),United States,New-York,2622.50
137,One-way Ticket (Local Transport),United States,New-York,447.37
138,Monthly Pass (Regular Price),United States,New-York,20517.18
139,Taxi Start (Normal Tariff),United States,New-York,771.32
140,Taxi 1km (Normal Tariff),United States,New-York,335.49
141,Taxi 1hour Waiting (Normal Tariff),United States,New-York,6170.58
142,Gasoline (1 liter),United States,New-York,156.86
143,Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),United States,New-York,5399257.50
144,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),United States,New-York,4450344.92
145,"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",United States,New-York,27488.39
146,Mobile Phone Monthly Plan with Calls and 10GB+ Data,United States,New-York,10314.25
147,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",United States,New-York,10489.93
148,"Fitness Club, Monthly Fee for 1 Adult",United States,New-York,23279.87
149,Tennis Court Rent (1 Hour on Weekend),United States,New-York,10712.81
150,"Cinema, International Release, 1 Seat",United States,New-York,3085.29
151,"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",United States,New-York,504284.22
152,"International Primary School, Yearly for 1 Child",United States,New-York,9101605.50
153,1 Pair of Jeans (Levis 501 Or Similar),United States,New-York,10484.70
154,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",United States,New-York,7032.99
155,1 Pair of Nike Running Shoes (Mid-Range),United States,New-York,16902.20
156,1 Pair of Men Leather Business Shoes,United States,New-York,26057.78
157,Apartment (1 bedroom) in City Centre,United States,New-York,616445.67
158,Apartment (1 bedroom) Outside of Centre,United States,New-York,438424.53
159,Apartment (3 bedrooms) in City Centre,United States,New-York,1316416.11
160,Apartment (3 bedrooms) Outside of Centre,United States,New-York,817478.44
161,Price per Square Meter to Buy Apartment in City Centre,United States,New-York,3002753.32
162,Price per Square Meter to Buy Apartment Outside of Centre,United States,New-York,2211782.91
163,Average Monthly Net Salary (After Tax),United States,New-York,852420.05
164,"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",United States,New-York,6.66
165,"Meal, Inexpensive Restaurant",Australia,Brisbane,2212.84
166,"Meal for 2 People, Mid-range Restaurant, Three-course",Australia,Brisbane,11818.57
167,McMeal at McDonalds (or Equivalent Combo Meal),Australia,Brisbane,1508.75
168,Domestic Beer (0.5 liter draught),Australia,Brisbane,1207.00
169,Imported Beer (0.33 liter bottle),Australia,Brisbane,1207.00
170,Cappuccino (regular),Australia,Brisbane,553.09
171,Coke/Pepsi (0.33 liter bottle),Australia,Brisbane,417.29
172,Water (0.33 liter bottle),Australia,Brisbane,339.71
173,"Milk (regular), (1 liter)",Australia,Brisbane,250.30
174,Loaf of Fresh White Bread (500g),Australia,Brisbane,355.68
175,"Rice (white), (1kg)",Australia,Brisbane,305.72
176,Eggs (regular) (12),Australia,Brisbane,660.86
177,Local Cheese (1kg),Australia,Brisbane,1314.54
178,Chicken Fillets (1kg),Australia,Brisbane,1335.72
179,Beef Round (1kg) (or Equivalent Back Leg Red Meat),Australia,Brisbane,2172.68
180,Apples (1kg),Australia,Brisbane,478.75
181,Banana (1kg),Australia,Brisbane,424.77
182,Oranges (1kg),Australia,Brisbane,399.69
183,Tomato (1kg),Australia,Brisbane,579.13
184,Potato (1kg),Australia,Brisbane,357.68
185,Onion (1kg),Australia,Brisbane,325.88
186,Lettuce (1 head),Australia,Brisbane,315.13
187,Water (1.5 liter bottle),Australia,Brisbane,196.14
188,Bottle of Wine (Mid-Range),Australia,Brisbane,2011.67
189,Domestic Beer (0.5 liter bottle),Australia,Brisbane,779.35
190,Imported Beer (0.33 liter bottle),Australia,Brisbane,750.98
191,Cigarettes 20 Pack (Marlboro),Australia,Brisbane,4475.97
192,One-way Ticket (Local Transport),Australia,Brisbane,50.29
193,Monthly Pass (Regular Price),Australia,Brisbane,17199.79
194,Taxi Start (Normal Tariff),Australia,Brisbane,362.10
195,Taxi 1km (Normal Tariff),Australia,Brisbane,251.46
196,Taxi 1hour Waiting (Normal Tariff),Australia,Brisbane,5190.11
197,Gasoline (1 liter),Australia,Brisbane,197.17
198,Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),Australia,Brisbane,4223503.60
199,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),Australia,Brisbane,3393280.63
200,"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",Australia,Brisbane,27413.19
201,Mobile Phone Monthly Plan with Calls and 10GB+ Data,Australia,Brisbane,4127.28
202,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",Australia,Brisbane,8267.97
203,"Fitness Club, Monthly Fee for 1 Adult",Australia,Brisbane,7874.02
204,Tennis Court Rent (1 Hour on Weekend),Australia,Brisbane,2857.76
205,"Cinema, International Release, 1 Seat",Australia,Brisbane,2011.67
206,"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",Australia,Brisbane,260539.36
207,"International Primary School, Yearly for 1 Child",Australia,Brisbane,1347432.82
208,1 Pair of Jeans (Levis 501 Or Similar),Australia,Brisbane,11007.79
209,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",Australia,Brisbane,6750.67
210,1 Pair of Nike Running Shoes (Mid-Range),Australia,Brisbane,15630.08
211,1 Pair of Men Leather Business Shoes,Australia,Brisbane,15583.51
212,Apartment (1 bedroom) in City Centre,Australia,Brisbane,248420.76
213,Apartment (1 bedroom) Outside of Centre,Australia,Brisbane,201991.25
214,Apartment (3 bedrooms) in City Centre,Australia,Brisbane,401532.28
215,Apartment (3 bedrooms) Outside of Centre,Australia,Brisbane,269747.86
216,Price per Square Meter to Buy Apartment in City Centre,Australia,Brisbane,1149255.16
217,Price per Square Meter to Buy Apartment Outside of Centre,Australia,Brisbane,777272.02
218,Average Monthly Net Salary (After Tax),Australia,Brisbane,605008.18
219,"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",Australia,Brisbane,6.36
220,"Meal, Inexpensive Restaurant",United Kingdom,Bristol,2914.38
221,"Meal for 2 People, Mid-range Restaurant, Three-course",United Kingdom,Bristol,11657.50
222,McMeal at McDonalds (or Equivalent Combo Meal),United Kingdom,Bristol,1457.19
223,Domestic Beer (0.5 liter draught),United Kingdom,Bristol,1068.60
224,Imported Beer (0.33 liter bottle),United Kingdom,Bristol,971.46
225,Cappuccino (regular),United Kingdom,Bristol,701.47
226,Coke/Pepsi (0.33 liter bottle),United Kingdom,Bristol,349.01
227,Water (0.33 liter bottle),United Kingdom,Bristol,220.88
228,"Milk (regular), (1 liter)",United Kingdom,Bristol,219.87
229,Loaf of Fresh White Bread (500g),United Kingdom,Bristol,251.04
230,"Rice (white), (1kg)",United Kingdom,Bristol,236.74
231,Eggs (regular) (12),United Kingdom,Bristol,539.72
232,Local Cheese (1kg),United Kingdom,Bristol,1575.78
233,Chicken Fillets (1kg),United Kingdom,Bristol,1407.32
234,Beef Round (1kg) (or Equivalent Back Leg Red Meat),United Kingdom,Bristol,1797.20
235,Apples (1kg),United Kingdom,Bristol,491.28
236,Banana (1kg),United Kingdom,Bristol,239.78
237,Oranges (1kg),United Kingdom,Bristol,517.09
238,Tomato (1kg),United Kingdom,Bristol,454.16
239,Potato (1kg),United Kingdom,Bristol,307.30
240,Onion (1kg),United Kingdom,Bristol,220.41
241,Lettuce (1 head),United Kingdom,Bristol,149.60
242,Water (1.5 liter bottle),United Kingdom,Bristol,233.15
243,Bottle of Wine (Mid-Range),United Kingdom,Bristol,1570.29
244,Domestic Beer (0.5 liter bottle),United Kingdom,Bristol,379.28
245,Imported Beer (0.33 liter bottle),United Kingdom,Bristol,422.58
246,Cigarettes 20 Pack (Marlboro),United Kingdom,Bristol,3030.95
247,One-way Ticket (Local Transport),United Kingdom,Bristol,388.58
248,Monthly Pass (Regular Price),United Kingdom,Bristol,16281.64
249,Taxi Start (Normal Tariff),United Kingdom,Bristol,874.31
250,Taxi 1km (Normal Tariff),United Kingdom,Bristol,265.60
251,Taxi 1hour Waiting (Normal Tariff),United Kingdom,Bristol,3885.83
252,Gasoline (1 liter),United Kingdom,Bristol,281.71
253,Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car),United Kingdom,Bristol,5495540.69
254,Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car),United Kingdom,Bristol,4079639.94
255,"Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment",United Kingdom,Bristol,46685.93
256,Mobile Phone Monthly Plan with Calls and 10GB+ Data,United Kingdom,Bristol,2382.19
257,"Internet (60 Mbps or More, Unlimited Data, Cable/ADSL)",United Kingdom,Bristol,6314.48
258,"Fitness Club, Monthly Fee for 1 Adult",United Kingdom,Bristol,6800.21
259,Tennis Court Rent (1 Hour on Weekend),United Kingdom,Bristol,1716.24
260,"Cinema, International Release, 1 Seat",United Kingdom,Bristol,1942.92
261,"Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child",United Kingdom,Bristol,287875.53
262,"International Primary School, Yearly for 1 Child",United Kingdom,Bristol,3523156.13
263,1 Pair of Jeans (Levis 501 Or Similar),United Kingdom,Bristol,11981.32
264,"1 Summer Dress in a Chain Store (Zara, H&M, ...)",United Kingdom,Bristol,6245.09
265,1 Pair of Nike Running Shoes (Mid-Range),United Kingdom,Bristol,14248.06
266,1 Pair of Men Leather Business Shoes,United Kingdom,Bristol,19429.17
267,Apartment (1 bedroom) in City Centre,United Kingdom,Bristol,263783.36
268,Apartment (1 bedroom) Outside of Centre,United Kingdom,Bristol,199068.04
269,Apartment (3 bedrooms) in City Centre,United Kingdom,Bristol,416232.60
270,Apartment (3 bedrooms) Outside of Centre,United Kingdom,Bristol,310119.44
271,Price per Square Meter to Buy Apartment in City Centre,United Kingdom,Bristol,1039078.64
272,Price per Square Meter to Buy Apartment Outside of Centre,United Kingdom,Bristol,948143.49
273,Average Monthly Net Salary (After Tax),United Kingdom,Bristol,503377.03
274,"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate",United Kingdom,Bristol,5.75
275,"Meal, Inexpensive Restaurant",United Kingdom,Manchester,2914.38
276,"Meal for 2 People, Mid-range Restaurant, Three-course",United Kingdom,Manchester,13600.42
277,McMeal at McDonalds (or Equivalent Combo Meal),United Kingdom,Manchester,1554.33
278,Domestic Beer (0.5 liter draught),United Kingdom,Manchester,971.46
279,Imported Beer (0.33 liter bottle),United Kingdom,Manchester,1068.60
280,Cappuccino (regular),United Kingdom,Manchester,699.81
281,Coke/Pepsi (0.33 liter bottle),United Kingdom,Manchester,382.57
282,Water (0.33 liter bottle),United Kingdom,Manchester,260.60
283,"Milk (regular), (1 liter)",United Kingdom,Manchester,236.27
284,Loaf of Fresh White Bread (500g),United Kingdom,Manchester,238.17
285,"Rice (white), (1kg)",United Kingdom,Manchester,316.15
286,Eggs (regular) (12),United Kingdom,Manchester,571.31
287,Local Cheese (1kg),United Kingdom,Manchester,1473.66
288,Chicken Fillets (1kg),United Kingdom,Manchester,1237.87
289,Beef Round (1kg) (or Equivalent Back Leg Red Meat),United Kingdom,Manchester,2236.82
290,Apples (1kg),United Kingdom,Manchester,435.00
291,Banana (1kg),United Kingdom,Manchester,268.29
292,Oranges (1kg),United Kingdom,Manchester,555.36
293,Tomato (1kg),United Kingdom,Manchester,589.67
294,Potato (1kg),United Kingdom,Manchester,318.67
295,Onion (1kg),United Kingdom,Manchester,276.02