In [13]:
import os
from pathlib import Path
import pandas as pd
from IPython.display import display

pd.options.display.max_rows = 5
pd.options.display.max_columns = 1000


def read_data(path: Path) -> pd.DataFrame:
    return pd.read_json(path)


for i in Path(os.getenv("DATA_DIR")).rglob("*.json"):
    print(i)
    display(read_data(i))

/Users/yo/Developer/repo/sign-to-migrate/data/cpi.json

     countryiso3code country_name  date       value
0                AFG  Afghanistan  2019  149.895975
1                AFG  Afghanistan  2018  146.522482
...              ...          ...   ...         ...
2523             ZWE     Zimbabwe  2011  103.466130
2524             ZWE     Zimbabwe  2010  100.000000

[2525 rows x 4 columns]

/Users/yo/Developer/repo/sign-to-migrate/data/unemployment_rate.json

,ref_area,source,indicator,sex,classif1,time,obs_value,obs_status,note_classif,note_indicator,note_source
0,Aruba,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate (%),Sex: Total,"Age (Youth, adults): 15+",2011,8.90,None,None,None,None
1,Aruba,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate (%),Sex: Male,"Age (Youth, adults): 15+",2011,8.60,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
43504,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate (%),Sex: Female,"Age (Youth, adults): 15-24",2004,8.13,None,None,None,Data reference period: June | Geographical cov...
43505,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate (%),Sex: Female,"Age (Youth, adults): 25+",2004,2.66,None,None,None,Data reference period: June | Geographical cov...

/Users/yo/Developer/repo/sign-to-migrate/data/women_in_senior_and_middle_position.json

,ref_area,source,indicator,time,obs_value,obs_status,note_indicator,note_source
0,Afghanistan,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in s...,2021,NaN,Unreliable,None,Repository: ILO-STATISTICS - Micro data proces...
1,Afghanistan,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in s...,2020,5.889,Unreliable,None,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...
1621,Zimbabwe,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in s...,2019,28.074,Break in series,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
1622,Zimbabwe,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in s...,2011,22.757,Break in series,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/youth_neet_proportion.json

,ref_area,source,indicator,sex,time,obs_value,obs_status,note_indicator,note_source
0,Aruba,PC - Population and Housing Census,SDG indicator 8.6.1 - Proportion of youth (age...,Sex: Total,2010,16.560,None,None,Data reference period: September
1,Aruba,PC - Population and Housing Census,SDG indicator 8.6.1 - Proportion of youth (age...,Sex: Male,2010,17.400,None,None,Data reference period: September
...,...,...,...,...,...,...,...,...,...
11706,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.6.1 - Proportion of youth (age...,Sex: Male,2011,11.025,Break in series,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
11707,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.6.1 - Proportion of youth (age...,Sex: Female,2011,22.892,Break in series,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/average_hourly_earnings.json

,ref_area,source,indicator,sex,classif1,time,obs_value,obs_status,note_classif,note_indicator,note_source
0,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Total,2020,90.80,Break in series,None,Currency: AFG - Afghani (AFN) | Break in serie...,Repository: ILO-STATISTICS - Micro data proces...
1,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Total,Occupation (Skill level): Skill levels 3 and 4...,2020,151.94,Break in series,None,Currency: AFG - Afghani (AFN) | Break in serie...,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
40974,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (ISCO-08): 9. Elementary occupations,2014,0.72,None,None,Currency: ZWE - Zimbabwean dollar (ZWL),Repository: ILO-STATISTICS - Micro data proces...
40975,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.1 - Average hourly earnings ...,Sex: Female,Occupation (ISCO-08): 0. Armed forces occupations,2014,NaN,Unreliable,None,Currency: ZWE - Zimbabwean dollar (ZWL),Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/working_poverty_rate.json

,ref_area,source,indicator,sex,classif1,time,obs_value
0,Afghanistan,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2023,34.937
1,Afghanistan,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Total,"Age (Youth, adults): 15+",2022,22.967
...,...,...,...,...,...,...,...
38083,Zimbabwe,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Female,"Age (Youth, adults): 15-24",2000,12.130
38084,Zimbabwe,ILO - Modelled Estimates,SDG indicator 1.1.1 - Working poverty rate (pe...,Sex: Female,"Age (Youth, adults): 25+",2000,8.954

/Users/yo/Developer/repo/sign-to-migrate/data/social_protection.json

,ref_area,source,indicator,sex,classif1,time,obs_value,note_classif
0,Aruba,ILO - Social Security Inquiry Database,SDG indicator 1.3.1 - Proportion of population...,Sex: Total,Contingency: Population covered by at least on...,2021,94.3,None
1,Aruba,ILO - Social Security Inquiry Database,SDG indicator 1.3.1 - Proportion of population...,Sex: Total,Contingency: Persons above retirement age rece...,2021,100.0,None
...,...,...,...,...,...,...,...,...
36091,Zimbabwe,ILO - Social Security Inquiry Database,SDG indicator 1.3.1 - Proportion of population...,Sex: Total,Contingency: Employed covered in the event of ...,2006,24.1,Social security coverage: Estimated based on l...
36092,Zimbabwe,ILO - Social Security Inquiry Database,SDG indicator 1.3.1 - Proportion of population...,Sex: Total,Contingency: Persons above retirement age rece...,2000,4.0,None

/Users/yo/Developer/repo/sign-to-migrate/data/labour_rights.json

,ref_area,source,indicator,time,obs_value,note_indicator
0,Afghanistan,ILO - Calculations based on information from I...,SDG indicator 8.8.2 - Level of national compli...,2022,4.91,Remarks: The score should be treated with care...
1,Afghanistan,ILO - Calculations based on information from I...,SDG indicator 8.8.2 - Level of national compli...,2021,4.91,None
...,...,...,...,...,...,...
2167,Zimbabwe,ILO - Calculations based on information from I...,SDG indicator 8.8.2 - Level of national compli...,2016,4.95,None
2168,Zimbabwe,ILO - Calculations based on information from I...,SDG indicator 8.8.2 - Level of national compli...,2015,5.79,None

/Users/yo/Developer/repo/sign-to-migrate/data/cost_of_living.json

,item,country,city,currency,cost
0,"Meal, Inexpensive Restaurant",Japan,Tokyo,JPY,1000.00
1,"Meal for 2 People, Mid-range Restaurant, Three...",Japan,Tokyo,JPY,7000.00
...,...,...,...,...,...
713,Average Monthly Net Salary (After Tax),Hong Kong (China),Hong-Kong,JPY,596452.04
714,"Mortgage Interest Rate in Percentages (%), Yea...",Hong Kong (China),Hong-Kong,JPY,3.93

/Users/yo/Developer/repo/sign-to-migrate/data/annual_growth_rate_per_worker.json

,ref_area,source,indicator,time,obs_value
0,Afghanistan,ILO - Modelled Estimates,SDG indicator 8.2.1 - Annual growth rate of ou...,2024,-15.337
1,Afghanistan,ILO - Modelled Estimates,SDG indicator 8.2.1 - Annual growth rate of ou...,2023,-14.037
...,...,...,...,...,...
6843,Zimbabwe,ILO - Modelled Estimates,SDG indicator 8.2.1 - Annual growth rate of ou...,2001,0.115
6844,Zimbabwe,ILO - Modelled Estimates,SDG indicator 8.2.1 - Annual growth rate of ou...,2000,-4.881

/Users/yo/Developer/repo/sign-to-migrate/data/women_in_managerial_position.json

,ref_area,source,indicator,time,obs_value,obs_status,note_classif,note_indicator,note_source
0,Aruba,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in m...,2011,42.751,None,None,None,None
1,Aruba,PC - Population and Housing Census,SDG indicator 5.5.2 - Proportion of women in m...,2010,40.961,None,None,None,Data reference period: September | Age coverag...
...,...,...,...,...,...,...,...,...,...
4343,Zimbabwe,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in m...,2014,27.550,None,None,None,Repository: ILO-STATISTICS - Micro data proces...
4344,Zimbabwe,LFS - Labour Force Survey,SDG indicator 5.5.2 - Proportion of women in m...,2011,20.589,Break in series,None,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/unemployment_rate_disability.json

,ref_area,source,indicator,sex,classif1,time,obs_value,obs_status,note_classif,note_indicator,note_source
0,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate by dis...,Sex: Total,Disability status (Aggregate): Total,2021,5.679,None,None,None,Repository: ILO-STATISTICS - Micro data proces...
1,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate by dis...,Sex: Total,Disability status (Aggregate): Persons with di...,2021,NaN,Unreliable,None,None,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
7777,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate by dis...,Sex: Female,Disability status (Aggregate): Persons with di...,2014,2.937,None,None,None,Repository: ILO-STATISTICS - Micro data proces...
7778,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.5.2 - Unemployment rate by dis...,Sex: Female,Disability status (Aggregate): Persons without...,2014,5.627,None,None,None,Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/informal_employment.json

,ref_area,source,indicator,sex,classif1,time,obs_value,obs_status,note_classif,note_indicator,note_source
0,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.3.1 - Proportion of informal e...,Sex: Total,"Economic activity (Agriculture, Non-Agricultur...",2021,86.395,None,None,None,Repository: ILO-STATISTICS - Micro data proces...
1,Afghanistan,LFS - Labour Force Survey,SDG indicator 8.3.1 - Proportion of informal e...,Sex: Total,"Economic activity (Agriculture, Non-Agricultur...",2021,99.150,None,None,None,Repository: ILO-STATISTICS - Micro data proces...
...,...,...,...,...,...,...,...,...,...,...,...
57032,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.3.1 - Proportion of informal e...,Sex: Female,"Economic activity (Aggregate): Trade, Transpor...",2011,79.882,Break in series,None,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...
57033,Zimbabwe,LFS - Labour Force Survey,SDG indicator 8.3.1 - Proportion of informal e...,Sex: Female,Economic activity (Aggregate): Public Administ...,2011,63.919,Break in series,None,Break in series: Methodology revised,Repository: ILO-STATISTICS - Micro data proces...

/Users/yo/Developer/repo/sign-to-migrate/data/happiness.json

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Health..Life.Expectancy.,Trust..Government.Corruption.,Dystopia.Residual
0,1.0,Finland,7.769,1.340,1.587,0.986,0.596,0.153000,0.393,2019,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Denmark,7.600,1.383,1.573,0.996,0.592,0.252000,0.410,2019,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,NaN,None,NaN,NaN,NaN,NaN,NaN,0.204435,NaN,2017,Burundi,None,NaN,NaN,NaN,NaN,0.629794,NaN,0.059901,NaN,NaN,NaN,NaN,154.0,2.905,3.074690,2.735310,0.091623,0.151611,0.084148,1.683024
781,NaN,None,NaN,NaN,NaN,NaN,NaN,0.280876,NaN,2017,Central African Republic,None,NaN,NaN,NaN,NaN,0.000000,NaN,0.270842,NaN,NaN,NaN,NaN,155.0,2.693,2.864884,2.521116,0.000000,0.018773,0.056565,2.066005